@if (Session["UserEmail"] != null)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <li class="topo">@Html.ActionLink("Relatório de Projeção Financeira", "Index", "ProjecaoFinanceira", new { email = Session["UserEmail"] }, null)</li>
}