@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Personal SCF</h1>
    <p class="lead">Personal SCF é o melhor sistema de controle financeiro pessoal do mercado!</p>
    <p><a href="~/Conta/Register" class="btn btn-primary btn-lg">Comece agora &raquo;</a></p>
</div>