@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="topo">
    <h4><strong>Receitas (total): </strong>@ViewBag.Receitas</h4>
    <h4><strong>Despesas (total): </strong>@ViewBag.Despesas</h4>
</div>