@if (Session["UserEmail"] != null)
{
    <ul class="navbar-right">
        <li>@Html.ActionLink("Logoff", "LogOff", "Conta", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Cadastro", "Register", "Conta", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "Login", "Conta", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
